---
layout: gallery
title: Code gallery
permalink: /code-gallery/
category: gallery
---
<ul class="gallery-project-list">
  {% for post in site.posts %}
  {% if post.category=="gallery" %}
    {% if post.wip != true %}
      <li class="gallery-project">
        <a class="gallery-project" href="{{ post.url }}">
          {% if post.thumb %}
            <img src="{{ site.baseurl }}{{ post.thumb }}" alt="{{ post.title }}" class="post-image post-thumb">
          {% else %}
            <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" class="post-image post-thumb">
          {% endif %}
        </a>
        <a href="{{ post.url }}">
          <h2>{{ post.title }}</h2>
        </a>
        <div class="post-content">
          <div class="post-exerpt">
            {{ post.excerpt }}
            <a href="{{ post.url }}">Continue reading &raquo;</a>
          </div>
        </div>
      </li>
    {% endif %}
  {% endif %}
  {% endfor %}
</ul>
