---
layout: gallery
title: Code gallery
permalink: /code-gallery/
category: gallery
---
<ul class="gallery-project-list">
  {% for post in site.posts %}
  {% if post.category=="gallery" %}
    <a class="gallery-project" href="{{ post.url }}">
        {% if post.thumb %}
          <img src="{{ site.baseurl }}{{ post.thumb }}" alt="{{ post.title }}" class="post-image post-thumb">
        {% endif %}
        <div class="post-content">
          <h2>{{ post.title }}</h2>
        </div>
    </a>
  {% endif %}
  {% endfor %}
</ul>
