<div class="section-content">
  <p>
    <img src="/assets/img/pages/appmap-diagram.svg" alt="AppMap diagram">
  </p>
  <p>
    Software tools such as performance profilers, APMs, and log aggregators all provide some information about the behavior of code; but none are dedicated to helping developers inspect and optimize end-to-end code and data flows. The AppLand Framework provides comprehensive information about the internal and external design of your code, recorded into simple JSON files called AppMaps. These AppMap files can be easily obtained by executing test cases or by interactively recording a live, running application. You can use AppMap recordings to generate insightful visualizations and analytics, share with your team, and optimize your software architecture.
  </p>
  <h3 id="data-format-specification">Data format specification</h3>
  <p>
    The AppMap data specification aims to capture detailed information of runtime code execution, data snapshots and application metadata. This specification is being developed by AppLand and its contributors to create a standard data format for analyzing, visualizing, and optimizing application architecture. The working specification is available at <a href="https://github.com/applandinc/appmap">https://github.com/applandinc/appmap</a>.
  </p>
  <h3 id="recording-clients">Recording clients</h3>
  <p>
    The AppMap recording client enables an application to dynamically record and emit AppMap files. Use the AppMap files you’ve captured to generate insightful visualizations and analytics of the behavior and architecture of your code. Clients are currently available for 
    <a href="https://github.com/applandinc/appmap-python">Python</a>, 
    <a href="https://github.com/applandinc/appmap-ruby">Ruby</a>, and
    <a href="https://github.com/applandinc/appmap-java">Java</a>. 
  </p>
  <h3 id="analysis-and-visualization">Analysis and visualization</h3>
  <p>AppMap data is easy to program, so you can quickly build custom analytics and visualizations of your architecture.</p>
</div>
