<div class="gray-section">
  <div class="section-content">
    <h1 class="section-description">See how people in the open source community
    are using AppMaps to record, analyze,
    and optimize end-to-end code and data flows.</h1>
    <ul class="gallery-project-list">
      {% assign featured_posts = site.posts | where: "featured", true %}
      {% for post in featured_posts limit:4 %}
      {% if post.category=="gallery" %}
        <a class="gallery-project" href="{{ post.url }}">
            {% if post.thumb %}
              <img src="{{ site.baseurl }}{{ post.thumb }}" alt="{{ post.title }}" class="post-image post-thumb">
            {% endif %}
            <div class="post-content">
              <h2>{{ post.title }}</h2>
              Live example &raquo;
            </div>
        </a>
      {% endif %}
      {% endfor %}
    </ul>
    <div class='large-inline-cta'>
      <p class="btn btn-primary">
        <a class="two-line-label" href="code-gallery">
          <span class="large-btn-label">Visit the code gallery</span>
          <span class="large-btn-subhead"> to see more examples.</span>
        </a>
      </p>
    </div>
  </div>
</div>
