<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="https://www.appland.com">
    <img src="/assets/img/appland-logo-sharp.svg"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
  
    <ul class="navbar-nav">
      <li class="nav-item drop-down">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button">Products</a>
        <div class="dropdown-menu desktop-nav">
          <div class="nav-wrap">
            <a class="nav-link product" href="https://www.appland.com/solutions/appmap.html">
              <img class="product-icon" src="/assets/img/braces-appland.svg" alt="AppMap icon">
              AppMap
            </a>
          </div>
          <div class="nav-wrap">
            <a class="nav-link product" href="https://www.appland.com/solutions/appland.html">
              <img class="product-icon" src="/assets/img/cloud-appland.svg" alt="AppLand icon">
              AppLand
            </a>
          </div>   
        </div>
      </li>
      <li class="nav-item drop-down resources">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button">Resources</a>
        <div class="dropdown-menu desktop-nav">
          <div class="nav-wrap">
            <ul class="resources-list">
              <ul class="sub-list">
                <h5>Community</h5>
                <li><a href="https://discord.com/invite/N9VUap6" target="_blank">Forum <img class="social-icon" src="/assets/img/discord-brands.svg"/></a></li>
                <li><a href="https://github.com/applandorg/community/blob/master/docs/Code%20of%20Conduct%20for%20Contributors.pdf" target="_blank">Code of Conduct <i class="material-icons">launch</i></a></li>
                <li><a href="https://github.com/applandorg/community/blob/master/docs/CLA%20Instructions.pdf" target="_blank">CLA <i class="material-icons">launch</i></a></li>
              </ul>
              <ul class="sub-list">
                <h5>Content</h5>
                <li><a href="https://www.appland.com/resources/content/examples">Examples</a></li>
                <li><a href="https://www.appland.com/blog">Blog</a></li>
              </ul>
              <ul class="sub-list">
                <h5>Open source</h5>
                <li><a href="https://marketplace.visualstudio.com/items?itemName=appland.appmap" target="_blank">VSCode extension <i class="material-icons">launch</i></a></li>
                <li><a href="https://github.com/applandinc/appmap-python" target="_blank">Python recording client <i class="material-icons">launch</i></a></li>
                <li><a href="https://github.com/applandinc/appmap-java" target="_blank">Java recording client <i class="material-icons">launch</i></a></li>
                <li><a href="https://github.com/applandinc/appmap-ruby" target="_blank">Ruby recording client <i class="material-icons">launch</i></a></li>
                <li><a href="https://appland.org" target="_blank">AppLand framework <i class="material-icons">launch</i></a></li>
                <li>PHP recording client <em>Coming soon!</em></li>
                <li>JavaScript recording client <em>Coming soon!</em></li>
                <li>.NET recording client <em>Coming soon!</em></li>
                <li><a href="https://github.com/applandinc/appmap" target="_blank">AppMap data format <i class="material-icons">launch</i></a></li>
              </ul>
            </ul>
          </div>
        </div>
      </li>
      <li class="nav-item drop-down">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button">Company</a>
        <div class="dropdown-menu desktop-nav">
          <div class="nav-wrap">
            <a class="dropdown-item" href="https://www.appland.com/company/about-appland">About AppLand</a>
          </div>
          <div class="nav-wrap">
            <a class="dropdown-item" href="https://www.appland.com/company/contact-us">Contact us </a>
          </div>
          <div class="nav-wrap">
            <a class="dropdown-item" href="https://www.linkedin.com/company/app-land/jobs" target="_blank">Careers <i class="material-icons">launch</i></a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.appland.com/blog">Blog</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-vscode" target="_blank" href="https://marketplace.visualstudio.com/items?itemName=appland.appmap">
          <img class="logo-small" src="/assets/img/vscode-icon.svg"/>
          Quickstart with VS Code
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="https://www.appland.com/company/request-demo">Request a Demo</a>
      </li>
    </ul>

  </div>
</nav>
