<div class="hero-content">
  <h1 class="project-name">AppLand framework</h1>
  <p class="project-tagline">
    Record, analyze, and optimize end-to-end code and data flows.
  </p>
  <p class="project-tagline">
    Our goal at AppLand is to help code "speak for itself." We’re a group of passionate engineers and architects
    aiming to drive innovation in software architecture and design. Software is oftentimes complex and its nuances
    can be difficult to communicate efficiently. We'd like to change that.
  </p>
  <a class="btn vscode-button" href="https://marketplace.visualstudio.com/items?itemName=appland.appmap">
    <img src="/images/visual-studio-code-icon-blue.svg" alt=""/>
    <h3>Get the AppMap extension for Visual Studio Code</h3>
  </a>
</div>
