<div class="hero-content">
  <h1 class="project-name">AppLand</h1>
  <p class="project-tagline">
    A framework to record, analyze, and optimize end-to-end code and data flows.
  </p>
  <p class="project-tagline">
    Our goal at AppLand is to help code “speak for itself. We’re a group of passionate engineers and architects
    aiming to drive innovation in software architecture and design. Software is oftentimes complex and its nuances
    can be difficult to communicate efficiently. We'd like to change that.
  </p>
  <a class="btn discord-button" href="https://discord.com/invite/N9VUap6">
    <img src="/images/discord-brands.svg" alt=""/>
    <h3>Join the conversation on Discord!</h3>
  </a>
</div>
