<div class="section-content">
  <h1 class="section-header">Open source projects</h1>
  <p class="section-sub-header"> We welcome issues, comments, suggestions and (of course) bug fix PR's. <a href="https://github.com/applandinc">Get involved.</a></p>
  <div class="oss-projects">
    <div class="project">
      <img src="/assets/img/pink-ruby-logo.svg"/>
      <h1 class="oss-project-name"> Ruby Recording Client</h1>
      <p> A Ruby gem for recording AppMaps of your code.</p>
      <a href="https://github.com/applandinc/appmap-ruby"> View it on GitHub > </a>
    </div>
    <div class="project">
      <img src="/assets/img/greenish-java-logo.svg"/>
      <h1 class="oss-project-name"> Java Recording Client</h1>
      <p> A Java agent for recording Appmaps of your code.</p>
      <a href="https://github.com/applandinc/appmap-java"> View it on GitHub > </a>
    </div>
  </div>
  <div class="oss-projects">
    <div class="project">
      <img src="/assets/img/appmap-data-format-logo.svg"/>
      <h1 class="oss-project-name"> AppMap Data Format </h1>
      <p> The AppMap data specifications aims to capture detailed information or runtime code execution, data snapshots, and applications metadata.</p>
        <a href="https://github.com/applandinc/appmap"> Read working spec on GitHub > </a>
    </div>
    <div class="project">
      <img src="/assets/img/tmp/vscode-logo.svg"/>
      <h1 class="oss-project-name">VScode Extension</h1>
      <p>A VScode extension to view AppMaps through your IDE.</p>
      <a href="https://marketplace.visualstudio.com/items?itemName=appland.appmap">Download it now ></a>
    </div>
  </div>
  <div class="oss-projects">
    <div class="project">
      <img src="/assets/img/tmp/python-logo.svg"/>
      <h1 class="oss-project-name">Python Recording Client</h1>
      <p>A Python module for recording Appmaps of your code.</p>
    </div>
    <div class="project">
      <img src="/assets/img/tmp/php-logo.svg"/>
      <h1 class="oss-project-name">PHP Recording Client</h1>
      <p>A PHP package for recording Appmaps of your code.</p>
      <p><em>Coming soon</em></p>
    </div>
  </div>
  <div class="oss-projects">
    <div class="project">
      <img src="/assets/img/tmp/javascript-logo.svg"/>
      <h1 class="oss-project-name">Javascript Recording Client</h1>
      <p>A Javascript module for recording Appmaps of your code.</p>
      <p><em>Coming soon</em></p>
    </div>
    <div class="project">
      <img src="/assets/img/tmp/NET-logo.svg"/>
      <h1 class="oss-project-name">.NET Recording Client</h1>
      <p>A .NET module for recording Appmaps of your code.</p>
      <p><em>Coming soon</em></p>
    </div>
  </div>
  <div class='large-inline-cta'>
    <p class="btn btn-primary">
      <a class="two-line-label" href="https://github.com/applandinc">
        <span class="large-btn-label">Check out our GitHub</span>
        <span class="large-btn-subhead"> to see all of our open-source code.</span>
      </a>
    </p>
  </div>
</div>
