.blog-post-list {
  list-style-type: none;
  padding: 0;
  .blog-post {
    display: flex;
    img {
      margin-right: 2rem;
    }
    a {
      transition: $transition;
      &:hover {
        color: $royal;
        text-decoration: none;

      }
    }
  }
}