
.gallery-archive {
  h1, p { margin: 0; }
  p { margin-bottom: 2rem; }
  @include small {
    //margin: 2rem;
  }
}

.gallery-project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  column-gap: 2rem;
  row-gap: 2rem;

  list-style-type: none;
  padding: 0;

  .gallery-project {
    border-radius: $border-radius;
    padding: 2rem;
    background: black;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    text-align: center;

    h2 {
      margin: 0;
      color: $white;
      text-shadow: $text-shadow;
      transition: $transition;
    }
    img {
      margin-right: 2rem;
      max-width: 200px;
      max-height: 200px;
    }
    a {
      transition: $transition;
      &:hover {
        color: $royal;
        text-decoration: none;
      }
    }
    &:hover {
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.35);
      h2 {
        color: $royal;
      }
    }
  }

  @include medium {
    grid-template-columns: 1fr;
  }
  @include small {
    grid-template-columns: 1fr;
  }
}

.post-content {
  img {
    width: 100%;
    max-width: 1000px;
  }
}
