
.gallery-content {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-column: 1/-1;
}

.gallery-project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/-1;
  column-gap: 2rem;

  list-style-type: none;
  padding: 0;

  .gallery-project {
    display: flex;
    flex-direction: row;
    border-radius: $border-radius;
    padding: 2rem;
    //margin-bottom: 2rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    align-items: center;
    h2 {
      margin: 0;
    }


    img {
      margin-right: 2rem;
      width: 200px;
      height: 200px;
    }

    a {
      transition: $transition;
      &:hover {
        color: $royal;
        text-decoration: none;

      }
    }
  }
}

.post-content {
  img {
    width: 100%;
  }
}