// Global styles

body {
  margin: 0;
}

.btn {
  padding: 1rem;
  border-radius: $border-radius;
  a {
    color: $white;
  }
  
}

.btn-primary, .btn-primary:disabled,.btn-primary:not(:disabled):not(.disabled):active, .input-primary, .input-primary:disabled {
  background-color: $hotpink;
}

.btn-primary {
  &:hover {
    background-color: darken($hotpink,15);
  }
  &:focus {
    box-shadow: none;
  }
}

#applandoss { 
  height: 100vh;
  //display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header'
    'main';

  main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr auto;

    .main-content {
      width: 100%;
        @include medium {

        }
        @include small {
          //margin: 2rem;
        }
    }

    footer {
      width: 100%;
      max-width: 65rem;
      grid-template-columns: 1fr;
      padding: 0 2rem;
      margin: 0 auto;
    }
  }
}