nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 2rem 0 2rem;
  max-width: 65rem;
  margin: 0 auto;
  align-items: center;

  a {
    color: $white;
    &:hover {
      color: lighten($hotpink,10);
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    li {
      padding: 0 1rem;
    }
  }
}

.logo {
  text-indent: -99999px;
  width: 4rem;
  background-image: url(/assets/img/appland-a-sharp.svg);
  background-repeat: no-repeat;
}

.appmap-logo {
  text-indent: -99999px;
  width: 4rem;
  background-image: url(/assets/img/temp-logo.svg);
  background-repeat: no-repeat;
}

#corp-header {
  background-color: $gray1;
  max-width: 100%;
  nav {
    padding: 1rem;
    width: 100%;
    margin-right: 0;
    justify-content: flex-end;
  }
  img.corp-logo {
    width: 7rem;
  }
}

.header-logo-group {
  a {
    display: flex;
    flex-direction: row;
  }
  h3 {
    margin-left: 1rem;
  }
}