// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Colors
$gray1: #010306;
$gray2: #171e2f;
$gray3: #343742;
$gray4: #808b98;
$gray5: #E1E2E2;
$gray6: #EAEAEA;
$hotpink: #FF07AA;
$dullpink: #7b4669;
$royal: #9C2FBA;
$blue: #4362b1;
$teal: #6FDDD6;
$yellow: #EBDF90;
$appland-text: $gray4;
$white: lighten($appland-text,35); // aaaalmost pure white. softened a bit.
$appland-gradient-1: linear-gradient(90deg, rgba(0,1,104,1) 0%, rgba(197,12,228,1) 48%, rgba(255,7,170,1) 100%);
$appland-gradient-2: linear-gradient(90deg, rgba(255,7,170,1) 0%, rgba(156,47,186,1) 100%);
$appland-gradient-3: linear-gradient(0deg, rgba(156,47,186,1) 0%, rgba(255,7,170,1) 100%);
$appland-gradient-4: linear-gradient(90deg, rgba(255,7,170,1) 0%, rgba(156,47,186,1) 50%, rgba(67,98,177,1) 100%);
$al-gradient-5: linear-gradient(180deg, rgba(16,1,37,1) 0%, rgba(116,14,133,1) 59%, rgba(237,8,159,1) 100%); //linear-gradient(180deg, rgba(16,1,37,1) 0%, rgba(116,14,133,1) 100%);

// Alerts
$success: linear-gradient(90deg, rgba(113,149,41,1) 0%, rgba(143,196,19,1) 100%);
$danger: linear-gradient(90deg, rgba(222,25,50,1) 0%, rgba(196,19,92,1) 100%);
$general: linear-gradient(90deg, rgba(67,98,177,1) 0%, rgba(84,10,159,1) 100%);
$red: rgba(196,19,92,1);
$green: rgba(113,149,41,1);

// Utility
$border-radius: 4px;
$box-shadow: 0px -13px 13px 13px rgba(0, 0, 0, 0.41);
$text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
$transition: all 0.3s ease;
$row-height: 3rem;

// Fonts
$font-mono: 'IBM Plex Mono', monospace;
$font-body: 'IBM Plex Sans', sans-serif;
$font-header: 'Monda', sans-serif;