<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div id="applandoss">
      
      <!-- header -->
      <header class="page-header">
        {% include corp-header.html %}
        {% include navigation.html %}
        {% if page.category=="home" %}
          {% include hero-content.html %}
        {% endif %}
      </header>
      <!-- main -->
      <main>
        <section class="main-content">
          {{ content }}
        </section>
      </main>

      {% if site.google_analytics %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180943551-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-180943551-1');
        </script>
      {% endif %}
    </div>

  </body>
</html>
